[Unit]
Description=Mr.Miner Miner Service
After=Prepare.service

[Service]
User=mrminer
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/mrminer/boot/miner start

[Install]
WantedBy=graphical.target
